<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BigBucks{% endblock %} - Search with API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
</head>

<body>

<nav>
    <h1><a href="{{ url_for('home') }}">BigBucks</a></h1>
    <ul>
        {% if g.user %}
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('metrics.display_matrices') }}">Metrics</a></li>
            <li><a href="{{ url_for('trade') }}">Trade</a></li>
            <li><a href="{{ url_for('search') }}" class="current-page">Search</a></li>
            <li><a href="{{ url_for('account.account') }}">Account</a></li>
            <li><a href="{{ url_for('auth.logout') }}" class="hover-logout">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>

<section class="content">

    <form action="{{ url_for('search') }}" method="GET">
        <button type="submit">Back</button>
    </form>

    {% if overview and global_quote and news %}

        <div class="section-box">
            <h2>Stock Information</h2>
            <p>Stock Symbol: {{ overview['Symbol'] }}</p>
            <p>Company Name: {{ overview['Name'] }}</p>
            <p>Sector: {{ overview['Sector'] }}</p>
            <p>Industry: {{ overview['Industry'] }}</p>
            <p>Market Cap: {{ overview['MarketCapitalization'] }}</p>
            <p>PE Ratio: {{ overview['PERatio'] }}</p>
            <p>EPS: {{ overview['EPS'] }}</p>
            <p>Dividend: {{ overview['DividendPerShare'] }}</p>
            <p>Dividend Yield: {{ overview['DividendYield'] }}</p>
            <p>Stock Exchange: {{ overview['Exchange'] }}</p>
            <p>52-Week High: {{ overview['52WeekHigh'] }}</p>
            <p>52-Week Low: {{ overview['52WeekLow'] }}</p>
            <p>Price: {{ global_quote['Global Quote']['05. price'] }}</p>
            <p>Previous Close: {{ global_quote['Global Quote']['08. previous close'] }}</p>
            <p>Open: {{ global_quote['Global Quote']['02. open'] }}</p>
            <p>Volume: {{ global_quote['Global Quote']['06. volume'] }}</p>
        </div>

        <div class="section-box">
            <h2>Relevant News</h2>
            {% for source in news['feed'][:5] %}
                <div class="section-box">
                    <h4><a href="{{ source['url'] }}" class="link" target="_blank">{{ source['title'] }}</a></h4>
                    <p>{{ source['summary'] }}</p>
                </div>
            {% endfor %}
        </div>

        <div class="section-box">
            <script src="{{ url_for('static', filename='stock.js') }}"></script>
            <div id="plotchart"></div>
        </div>

        <div class="section-box">
            <script src="{{ url_for('static', filename='stock.js') }}"></script>
            <div id="DailyChangeScatterChart"></div>
        </div>

        <div class="section-box">
            <script src="{{ url_for('static', filename='stock.js') }}"></script>
            <div id="autocorrelationChart"></div>
        </div>

        <div class="section-box">
            <script src="{{ url_for('static', filename='stock.js') }}"></script>
            <div id="returnHistogram"></div>
        </div>

    {% else %}
        <p>Stock data unavailable</p>
    {% endif %}

</section>

<script>
    const stockSymbolFromFlask = "{{ stock_symbol }}";
    const SPYSymbolFromFlask = "{{ spy_symbol }}";
    window.onload = (event) => {
        fetchConfigAndMakePlotAPI(stockSymbolFromFlask);
        fetchConfigAndMakeDailyChangeScatterPlot(stockSymbolFromFlask);
        fetchConfigAndPlotAutocorrelation(stockSymbolFromFlask);
        fetchConfigAndMakeReturnHistogram(stockSymbolFromFlask)
    };
</script>

</body>
</html>
