<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}BigBucks{% endblock %} - Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<nav>
    <h1><a href="{{ url_for('homepage') }}">BigBucks</a></h1>
    <ul>
        {% if g.user %}
            <li><a href="{{ url_for('homepage') }}">Home</a></li>
            <li><a href="{{ url_for('buySell.buySell') }}">Trade</a></li>
            <li><a href="{{ url_for('stock.index') }}">Search</a></li>
            <li><a href="{{ url_for('account.account') }}">Account</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>

<section class="content">
    <h2>Search</h2>
    <form method="post" action="{{ url_for('stock.stock_info') }}">
        <label for="ticker">Ticker</label>
        <input name="ticker" id="ticker" required>
        <button type="submit">Search</button>
    </form>
</section>
</body>
</html>
