<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}BigBucks{% endblock %} - Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<nav>
    <h1><a href="{{ url_for('homepage') }}">BigBucks</a></h1>
    <ul>
        {% if g.user %}
            <li><a href="{{ url_for('homepage') }}">Home</a></li>
            <li><a href="{{ url_for('buySell.buySell') }}">Trade</a></li>
            <li><a href="{{ url_for('stock.index') }}" class="current-page">Search</a></li>
            <li><a href="{{ url_for('account.account') }}">Account</a></li>
            <li><a href="{{ url_for('auth.logout') }}" class="hover-logout">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>

<section class="content">
    <h1>Search</h1>

    <div class="section-box">
        <form method="post" action="{{ url_for('stock.stock_info') }}">
            <label for="stock_symbol">Ticker</label>
            <input name="stock_symbol" id="stock_symbol" required>
            <button type="submit">Search</button>
        </form>
    </div>

</section>
</body>
</html>
