<!doctype html>
<title>{% block title %}{% endblock %} - BigBucks</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('homepage') }}">BigBucks</a></h1>
  <ul>
    {% if g.user %}
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Information Page</title>
</head>
<body>
    <form method="post" action="{{ url_for('stock.stock_info') }}">
        <label for="stock_symbol">Stock Symbol:</label>
        <input type="text" name="stock_symbol" required>
        <button type="submit">Get Stock Info</button>
    </form>
</body>
</html>