{% extends 'base.html' %}

{% block title %}Edit Account{% endblock %}

{% block content %}
<h2>Edit Account</h2>
<form method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" value="{{ user.username }}" required>
    
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="{{ user.email }}" required>
    
    <label for="new_password">New Password (leave blank if you do not want to change it)</label>
    <input type="password" name="new_password" id="new_password">
    
    <input type="submit" value="Update">
</form>
{% endblock %}
