<!doctype html>
<title>{% block title %}{% endblock %} - BigBucks</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('homepage') }}">BigBucks</a></h1>
  <h3 class="nav-link"><a href="{{ url_for('buySell.buySell') }}">Buy or Sell Stock</a></h3>
  <h3 class="nav-link"><a href="{{ url_for('stock.index') }}">Stock Search Tool</a></h3>
  <h3 class="nav-link"><a href="{{ url_for('account.account') }}">Account Settings</a></h3>
  <ul>
    {% if g.user %}
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
  <h2>Welcome, {{user.firstname}}!</h2>
  <h4>Cash Balance: ${{g.user.cashBalance}}</h4>
  <form method="post">
    <input type="number" step="0.01" min=0.01 name="deposit" id="deposit" required>
    <input type="submit" value="Deposit Cash">
  </form>
  <h2>Your Portfolio</h2>
  <h4>eventually show their holdings here</h4>
</body>
</section>
