<!doctype html>

<head>
    <title>{% block title %}BigBucks{% endblock %} - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<nav>
    <h1>BigBucks</h1>
    <ul>
        {% if g.user %}
            <li><a href="{{ url_for('account.account') }}">Account</a></li>
            <li><a href="{{ url_for('buySell.buySell') }}">Trade</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>

<section class="content">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
    </head>

    <body>
    <h2>Welcome, {{ user.firstname }}</h2>
    <h4>Cash Balance: ${{ g.user.cashBalance }}</h4>
    <form method="post">
        <input type="number" step="0.01" min=0.01 name="deposit" id="deposit" required>
        <input type="submit" value="Deposit Cash">
    </form>
    <h2>Portfolio</h2>
    <h5>holdings will be displayed here</h5>
    </body>

</section>
