<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}BigBucks{% endblock %} - Trade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<nav>
    <h1><a href="{{ url_for('homepage') }}">BigBucks</a></h1>
    <ul>
        {% if g.user %}
            <li><a href="{{ url_for('homepage') }}">Home</a></li>
            <li><a href="{{ url_for('buySell.buySell') }}" class="current-page">Trade</a></li>
            <li><a href="{{ url_for('stock.index') }}">Search</a></li>
            <li><a href="{{ url_for('account.account') }}">Account</a></li>
            <li><a href="{{ url_for('auth.logout') }}" class="hover-logout">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>

{% if error %}
    <script>
        alert('{{ error }}');
    </script>
{% endif %}

<section class="content">
    <h1>Trade</h1>

    <div class="section-box">
        <h2>Invest</h2>
        <h4>Cash Balance: ${{ g.user.cashBalance }}</h4>
        <form method="post">
            <label for="ticker">Ticker</label>
            <input name="ticker" id="ticker" required>

            <label for="numShares">Number of Shares</label>
            <input type="number" name="numShares" id="numShares" min="1" step="1" required>

            <label for="buyOrSell">Order Type</label>
            <select name="buyOrSell" id="buyOrSell" required>
                <option value="buy">Buy</option>
                <option value="sell">Sell</option>
            </select>

            <button type="submit">Submit</button>
        </form>
    </div>

</section>
</body>
</html>
