<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Admin{% endblock %} - Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='alerts.js') }}"></script>
</head>

<body>

<div id="flash-messages" style="display: none;">
    {{ get_flashed_messages() | tojson }}
</div>

<nav>
    <h1><a href="{{ url_for('admin.summary') }}">BigBucks</a></h1>
    <ul>
        {% if g.user %}
            <li><a href="{{ url_for('admin.summary') }}">Summary</a></li>
            <li><a href="{{ url_for('admin.history') }}">History</a></li>
            <li><a href="{{ url_for('admin.risk_return') }}" class="current-page">Analysis</a></li>
            <li><a href="{{ url_for('auth.logout') }}" class="hover-logout">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>

<section class="content">

    <h1>Risk-Return Analysis</h1>

    <div class="section-container">
        <div class="section-box-item">
            <h4>Time Period</h4>
            <p>1 YR</p>
        </div>
        <div class="section-box-item">
            <h4>Risk Free Rate</h4>
            <p>{{ risk_free_rate * 100 }}%</p>
        </div>
        <div class="section-box-item">
            <h4>Beta</h4>
            <p>{{ "%0.5f"|format(portfolio_metrics['beta']) }}</p>
        </div>
        <div class="section-box-item">
            <h4>Sharpe Ratio</h4>
            <p>{{ "%0.5f"|format(portfolio_metrics['sharpe_ratio']) }}</p>
        </div>
        <div class="section-box-item">
            <h4>Treynor Ratio</h4>
            <p>{{ "%0.5f"|format(portfolio_metrics['treynor_ratio']) }}</p>
        </div>
    </div>

    <table class="table-wrapper">
        <thead>
        <tr>
            <th>Ticker</th>
            <th>Quantity</th>
            <th>Beta</th>
            <th>Sharpe Ratio</th>
            <th>Treynor Ratio</th>
        </tr>
        </thead>
        <tbody>
        {% for data in risk_return_data %}
            <tr>
                <td>{{ data.ticker }}</td>
                <td>{{ data.quantity }}</td>
                <td>{{ "%0.5f"|format(data.beta) }}</td>
                <td>{{ "%0.5f"|format(data.sharpe_ratio) }}</td>
                <td>{{ "%0.5f"|format(data.treynor_ratio) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</section>

</body>
</html>
