<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}BigBucks{% endblock %} - Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<nav>
    <h1><a href="{{ url_for('homepage') }}">BigBucks</a></h1>
    <ul>
        {% if g.user %}
            <li><a href="{{ url_for('homepage') }}">Home</a></li>
            <li><a href="{{ url_for('buySell.buySell') }}">Trade</a></li>
            <li><a href="{{ url_for('stock.index') }}">Search</a></li>
            <li><a href="{{ url_for('account.account') }}">Account</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>

<div class="charts">
    <div class="chart">
        <p>Chart 1 - Work in Progress</p>
    </div>
    <div class="chart">
        <p>Chart 2 - Work in Progress</p>
    </div>
    <div class="chart">
        <p>Chart 3 - Work in Progress</p>
    </div>
</div>

<h2>Correlation Matrix:</h2>
<table>
    <tr>
        <th></th> <!-- Empty cell for the corner of the table -->
        {% for ticker in tickers %}
            <th>{{ ticker }}</th> <!-- Column headers -->
        {% endfor %}
    </tr>
    {% for row in correlation_matrix %}
        <tr>
            <th>{{ tickers[loop.index0] }}</th> <!-- Row header -->
            {% for value in row %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<h2>Covariance Matrix:</h2>
<table>
    <tr>
        <th></th> <!-- Empty cell for the corner of the table -->
        {% for ticker in tickers %}
            <th>{{ ticker }}</th> <!-- Column headers -->
        {% endfor %}
    </tr>
    {% for row in covariance_matrix %}
        <tr>
            <th>{{ tickers[loop.index0] }}</th> <!-- Row header -->
            {% for value in row %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>