<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}BigBucks{% endblock %} - Metrics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='alerts.js') }}"></script>
</head>

<body>

<div id="flash-messages" style="display: none;">
    {{ get_flashed_messages() | tojson }}
</div>

<nav>
    <h1><a href="{{ url_for('home') }}">BigBucks</a></h1>
    <ul>
        {% if g.user %}
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('metrics.display_matrices') }}" class="current-page">Metrics</a></li>
            <li><a href="{{ url_for('trade') }}">Trade</a></li>
            <li><a href="{{ url_for('search') }}">Search</a></li>
            <li><a href="{{ url_for('account.account') }}">Account</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>

<section class="content">
    <form action="{{ url_for('homepage') }}" method="GET">
        <button type="submit">Back</button>
    </form>

    <div class="content">
        <h2>Correlation Matrix</h2>
        <table class="table-wrapper">
            <tr>
                <th></th> 
                {% for ticker in tickers %}
                    <th>{{ ticker }}</th> 
                {% endfor %}
            </tr>
            {% for row in correlation_matrix %}
                <tr>
                    <th>{{ tickers[loop.index0] }}</th> 
                    {% for value in row %}
                        <td>{{ "%0.5f"|format(value) }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="section-box">
        <h2>Covariance Matrix</h2>
        <table class="table-wrapper">
            <tr>
                <th></th>
                {% for ticker in tickers %}
                    <th>{{ ticker }}</th> 
                {% endfor %}
            </tr>
            {% for row in covariance_matrix %}
                <tr>
                    <th>{{ tickers[loop.index0] }}</th> 
                    {% for value in row %}
                        <td>{{ "%0.5f"|format(value) }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="section-box">
        <h2>Sharpe Ratio</h2>
        <h4>{{ sharpe_ratio }}</h4>
    </div>

    <div class="section-box">
        <h2>Efficient Frontier</h2>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
        <canvas id="myChart">
            <script>
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'scatter',
                    data: {
                        datasets: [{
                            label: 'Efficient Frontier',
                            data: [
                                {% for return, volatility in returns_volatilities %}
                                    {x: {{ volatility }}, y: {{ return }}},
                                {% endfor %}
                            ],
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1,
                            showLine: true,
                            fill: false
                        },
                        {
                            label: 'Portfolio',
                            data: [
                                {x: {{ portfolio_volatility }}, y: {{ portfolio_return }}}
                            ],
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1,
                            showLine: false,
                            fill: false,
                            datalabels: {
                                align: 'end',
                                anchor: 'end',
                                color: 'rgba(255, 99, 132, 1)',
                                font: {
                                    size: 14
                                },
                                formatter: function(value, context) {
                                    return '← Portfolio';
                                }
                            }
                        }]
                    },
                    options: {
                        scales: {
                            x: {
                                title: {
                                    display: true,
                                    text: 'Volatility',
                                    color: '#333' 
                                },
                                grid: {
                                    color: '#999' 
                                }
                            },
                            y: {
                                title: {
                                    display: true,
                                    text: 'Return',
                                    color: '#333' 
                                },
                                grid: {
                                    color: '#999' 
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                labels: {
                                    color: '#333'
                                }
                            },
                            datalabels: {
                                color: '#333',
                                display: function(context) {
                                    return context.datasetIndex === 1; // Only display for the portfolio dataset
                                }
                            }
                        }
                    }
                });
            </script>
        </canvas>
    </div>
    <div class="content">
        <h2>Portfolio Weights</h2>
        <table class="table-wrapper">
            <tr>
                <th>Ticker</th>
                <th>Weight</th>
            </tr>
            {% for ticker, weight in tickers|zip(weight_vector) %}
                <tr>
                    <td>{{ ticker }}</td>
                    <td>{{ weight }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

</section>
</body>
</html>
